@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


body {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}